<section class="visible-md visible-lg">
<hr>
<div>
  <div class="sidebar-nav-item"><h5> CATEGORY <span class="badge">{{site.posts | size}}</span></h5></div>
  <nav class="content-ul">
    {% for category in site.categories %}
    <a href="{{ root_url }}/{{ site.category_dir }}{{ category | first }}"
       class="sidebar-nav-item pl-3rem">
                          <span class="name">
                              {{ category | first }}
                          </span>
      <span class="badge">{{ category | last | size }}</span>
    </a>
    <br>
    {% endfor %}
  </nav>
</div>
</section>
